<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head-content %>
</head>
<body>

  <% include partials/navigation %>

  <div class="container">
    <div class="row">
      <div class="col l12 m12 s12">

        <h1>Change Password</h1>

        <% include partials/errors %>

        <form action="/admin/change-password" method="post">

          <div class="row">
            <div class="input-field col s12 m12 l6">
              <input type="password" name="old_password" autocomplete="off" id="old_password" autofocus>
              <label for="old_password">Old Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m12 l6">
              <input type="password" name="new_password" autocomplete="off" id="new_password">
              <label for="new_password">New Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m12 l6">
              <input type="password" name="confirm_new_password" autocomplete="off" id="confirm_new_password">
              <label for="confirm_new_password">Confirm Password</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m12 l6">
              <button type="submit" class="waves-effect waves-light btn">Submit</button>
              <a href="/admin" class="waves-effect waves-light btn white black-text">Cancel</a>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>

  <% include partials/scripts %>

</body>
</html>
