	<div clas="main-container">
		<div id="table-availability-wrapper">
			<div id="table-availability">
					<%viewData.data.forEach(table => {%>
					<a class="table-button" href="/<%=table.id%>">
						<%=table.tableNumber%>
					</a>
					<%})%>
			</div>
		</div>
	</div>