<% if (messages.errors) { %>
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="card red darken-1" style="margin-bottom: 15px">
        <div class="card-content white-text">
          <span class="card-title">Oops!</span>
          <p>
            There's an error while processing your input
            <ul class="browser-default">
              <% messages.errors.forEach((error) => { %>
                  <li><%= error.message %></li>
              <% }) %>
            </ul>
          </p>
        </div>
      </div>
    </div> <!-- .card -->
  </div>
<% } %>
