<div class="row">
  <div class="col l3 m3 s12">
    <ul id="slide-out" class="side-nav">
      <li><div class="user-view">
        <div class="background"></div>
        <h3 class="logo">mass</h3>
        <span>Logged in as: <strong>username</strong></span>
      </div></li>
      <li><div class="divider"></div></li>
      <li class="bold"><a class="waves-effect waves-red" href="/admin"><i class="material-icons">dashboard</i>Dashboard</a></li>
      <li class="bold"><a class="waves-effect waves-red" href="/admin/menus"><i class="material-icons">restaurant_menu</i>Menus</a></li>
      <li class="bold"><a class="waves-effect waves-red" href="/admin/tables"><i class="material-icons">group_work</i>Tables</a></li>
      <li class="bold"><a class="waves-effect waves-red" href="/admin/users"><i class="material-icons">people</i>Users</a></li>
      <li class="bold"><a class="waves-effect waves-red" href="/admin/report"><i class="material-icons">assignment</i>Report</a></li>
      <li><div class="divider"></div></li>
      <li class="bold"><a class="waves-effect waves-red" href="/admin/logout"><i class="material-icons">power_settings_new</i>Logout</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons red-text">menu</i></a>
  </div>
</div>
