<% if (messages.success) { %>
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card teal darken-1" style="margin-bottom: 15px">
        <div class="card-content white-text">
          <span class="card-title">Yahoo!</span>
          <p>
            <%= messages.success %>
          </p>
        </div>
      </div>
    </div> <!-- .card -->
  </div>
<% } %>
